 *{
   margin: 0;
   padding: 0;
   box-sizing: 0;
 }

h1:hover{
  background-color: red;
  font-family: 'Hachi Maru Pop', cursive;

}

h1{
  background-color: yellow;
  font-family: 'Hachi Maru Pop', cursive;

}
